# Default flash size
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# BMP180 defaults
CONFIG_BMP180_SDA_GPIO=25
CONFIG_BMP180_SCL_GPIO=26
CONFIG_BMP180_SEA_LEVEL_PRESSURE_PA=101325
CONFIG_BMP180_UPDATE_INTERVAL_MS=2000
